streamlit
streamlit-aggrid
pandas
numpy
pyarrow
fastparquet
plotly
requests
beautifulsoup4
lxml
openpyxl
gspread
google-auth
google-auth-oauthlib
google-api-python-client
tradingview-screener
yfinance
nse
nselib
python-dateutil
tqdm